**Variable Naming**
1. A variable name must start with a letter or an underscore.

2. A variable name can't start with a number.

3. A variable can only contain alpha numeric characters(a-Z,0-9, _).

4. Variable names are case sensitive.

5. Variable names can't be any of the python keyword.

In [ ]:
Var = 10
print(Var)

10

In [ ]:
_var = 10
print(_var)

10

In [ ]:
1var = 10
print(1var)

SyntaxError: invalid decimal literal (<ipython-input-3-73af354ae2e7>, line 1)

In [ ]:
def = 10
print(def)

SyntaxError: invalid syntax (<ipython-input-4-10c66231acbb>, line 1)

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
a = 10
b = 20
print("Addition",a+b)
print("Subtraction", a-b)
print("Multiplication", a*b)
print("Division", a/b)
print("Modulus", a%b)
print("Floor Division", a//b)
print("Exponent", a**b)

Addition 30
Subtraction -10
Multiplication 200
Division 0.5
Modulus 10
Floor Division 0
Exponent 100000000000000000000

**Data Type**
Text Type : str "",''

Numeric Type : int(1,2,3,4....), float(2.3,4.4,6.5), complex(5j,6j)

Sequence Type : List, Tuple and Range

Mapping Type : Dict

Set Types : set, frozenset

Boolean : bool

Binary Types : bytes , bytearray, memoryview

None Type : Nonetype

In [ ]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
b = 20.5
print(b)
type(b)

20.5

float

In [ ]:
c = 5j
print(c)
type(c)

5j

complex

In [ ]:
d = True
print(d)
type(d)

True

bool