**Lis,Tuple,Set and **Dictionary** **

# New Section

**List**
lists are used to store multiple item in a single variable

[] are used to define a list

It is ordered.

It is changeable

and It also allows duplicate values.

In [ ]:
fruit = ['apple','mango','banana',12,1.4,22j,True,'banana']
print(fruit)
type(fruit)

['apple', 'mango', 'banana', 12, 1.4, 22j, True, 'banana']

list

In [ ]:
print(fruit[1])

mango

In [ ]:
print(fruit[5])

22j

In [ ]:
print(fruit[-3])

22j

In [ ]:
#print(varname[start:stop:jump])
print(fruit[1:6])

['mango', 'banana', 12, 1.4, 22j]

In [ ]:
print(fruit[1:6:2])

['mango', 12, 22j]

In [ ]:
print(fruit[-6:-1])

['banana', 12, 1.4, 22j, True]

In [ ]:
print(fruit[-6:])

['banana', 12, 1.4, 22j, True, 'banana']

In [ ]:
#It replaces the existed item
fruit = ['apple','mango','banana',12,1.4,22j,True,'banana']
fruit[2] = 'kiwi'
print(fruit)

['apple', 'mango', 'kiwi', 12, 1.4, 22j, True, 'banana']

In [ ]:
fruit.insert(2,'orange')
print(fruit)

['apple', 'mango', 'orange', 'kiwi', 12, 1.4, 22j, True, 'banana']

In [ ]:
fruit.append('papaya')
print(fruit)

['apple', 'mango', 'orange', 'kiwi', 12, 1.4, 22j, True, 'banana', 'papaya']

In [ ]:
fruit.remove('orange')
print(fruit)

['apple', 'mango', 'kiwi', 12, 1.4, 22j, True, 'banana', 'papaya']

In [ ]:
fruit.pop(2)
print(fruit)

['apple', 'mango', 12, 1.4, 22j, True, 'banana', 'papaya']

In [ ]:
fruit.clear()
print(fruit)

[]

In [ ]:
del fruit
print(fruit)

NameError: name 'fruit' is not defined

**Tuples**
Tuples are used to store multiple items in a single variable.

()are used to define a tuple.

It is immutable(Unchangeable).

It is ordered

It allows duplicate values.

In [ ]:
animals = ('dog','cat','monkey',12,33.33,22j,True,'dog')
print(animals)
type(animals)

('dog', 'cat', 'monkey', 12, 33.33, 22j, True, 'dog')

tuple

In [ ]:
print(animals[2])
#Task
#accessing the items by using positive and negative indexing
#slicing using positive and negative indexing

monkey

In [ ]:
animals = ('dog','cat','monkey',12,33.33,22j,True,'dog')
y = list(animals) #type casting tuple to list
y[1]= 'lion'
animals = tuple(y)  #type casting list to tuple
print(animals)

('dog', 'lion', 'monkey', 12, 33.33, 22j, True, 'dog')

In [ ]:
animals = ('dog','cat','monkey',12,33.33,22j,True,'dog')
y = list(animals) #type casting tuple to list
y.insert(3,'horse')
animals = tuple(y)  #type casting list to tuple
print(animals)

('dog', 'cat', 'monkey', 'horse', 12, 33.33, 22j, True, 'dog')

In [ ]:
animals = ('dog','cat','monkey',12,33.33,22j,True,'dog')
y = list(animals) #type casting tuple to list
y.append('giraffe')
animals = tuple(y)  #type casting list to tuple
print(animals)

('dog', 'cat', 'monkey', 12, 33.33, 22j, True, 'dog', 'giraffe')

In [ ]:
y = list(animals) #type casting tuple to list
y.remove('monkey')
animals = tuple(y)  #type casting list to tuple
print(animals)

('dog', 'cat', 12, 33.33, 22j, True, 'dog', 'giraffe')

In [ ]:
y = list(animals) #type casting tuple to list
y.pop(2)
animals = tuple(y)  #type casting list to tuple
print(animals)

('dog', 'cat', 33.33, 22j, True, 'dog', 'giraffe')

**Set**

It is used store multiple items in a single variable

It is unordered.

It doesn't allow duplicate values

{} are used to define a set.

In [ ]:
var = {'apple','mango','banana',12,1.4,22j,True,'banana'}
print(var)

{'mango', 22j, 1.4, True, 'apple', 'banana', 12}

In [ ]:
for i in var:
  print(i)

mango
22j
1.4
True
apple
banana
12

In [ ]:
var.add("kiwi")
print(var)

{'mango', 22j, 1.4, True, 'apple', 'kiwi', 'banana', 12}

In [ ]:
var1 = {'horse','dog','cat'}
var1.update(var)
print(var1)

#task
#try to add a list into set and a tuple into the set.

{'mango', 22j, 1.4, True, 'kiwi', 'banana', 12, 'cat', 'apple', 'dog', 'horse'}

In [ ]:
var.remove('banana')
print(var)

KeyError: 'banana'

In [ ]:
var.discard('kiwi')
print(var)

{'mango', 22j, 1.4, True, 12, 'cat', 'apple', 'dog', 'horse'}

In [ ]:
var.pop()
print(var)

{22j, 1.4, True, 12, 'cat', 'apple', 'dog', 'horse'}

In [ ]:
var.clear()
print(var)

set()

In [ ]:
del var

**Dictionary**
It is used to store item in a key value pair.

It is ordered.

It is changeable(mutable).

It doesn't allow duplicate values.

{} to define a dictionary

In [ ]:
car = {
    "brand":"kia",
    'model':"Sonet",
    'year':2024,
    'color':'Black'
}
print(car)

{'brand': 'kia', 'model': 'Sonet', 'year': 2024, 'color': 'Black'}

In [ ]:
print(car['model'])

Sonet

In [ ]:
car.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
car.values()

dict_values(['kia', 'Sonet', 2024, 'Black'])

In [ ]:
car['color'] = 'White'
print(car)
#Task
#Change the year

{'brand': 'kia', 'model': 'Sonet', 'year': 2024, 'color': 'White'}

In [ ]:
car.items()

dict_items([('brand', 'kia'), ('model', 'Sonet'), ('year', 2024), ('color', 'White')])

In [ ]:
car.update({'model':'Seltos'})
print(car)

{'brand': 'kia', 'model': 'Seltos', 'year': 2024, 'color': 'White'}

In [ ]:
car['type'] = 'petrol'
print(car)

{'brand': 'kia', 'model': 'Seltos', 'year': 2024, 'color': 'White', 'type': 'petrol'}

In [ ]:
car.pop('year')
print(car)

{'brand': 'kia', 'model': 'Seltos', 'color': 'White', 'type': 'petrol'}

In [ ]:
#Pop item removes last inserted item
car.popitem()
print(car)

{'brand': 'kia', 'model': 'Seltos', 'color': 'White'}

In [ ]:
car.clear()
print(car)

{}

In [ ]:
del car
print(car)

NameError: name 'car' is not defined

**File Handling**
reading, creating,updating and deleting

'r' : read

'a' : append

'w' : write

'x' : create

In [ ]:
f = open('/content/DWSample1-TXT.txt')